:root {
    --wall-color: #333327;
    --pillar-color: #494742;
    --pillar-color2: #3d3c34;
    --sky-color: #a0d7ba;
    --size: 40vh;
    --s: calc(var(--size) / 6);
    --bor: calc(var(--size) / 40);
    --boxShadow: calc(var(--size) / 12);
}

body {
    background-image: url("firelink-shire-sketch.jpeg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-color: var(--sky-color);
    margin: 0px;
    padding: 0px;
    position: relative;
}

.left-most-wall {
    background-color: var(--wall-color);
    width: 13vw;
    height: 40vh;
    position: absolute;
    left: -10px;
    top: 25vh;
    transform: rotateY(20deg) rotateZ(-5deg);
    clip-path: polygon(
        100% 100%,
        0 100%,
        0 16%,
        22% 14%,
        20% 20%,
        100% 10%
    );
    border: 0.2vh solid black;
    /* transition: all 0.5s linear; */
    /* opacity: 0.7; */
    z-index: 6;
}

.pillar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.left-pillar {
    background-color: var(--pillar-color);
    width: 6vw;
    height: 58vh;
    position: relative;
    left: 11.4vw;
    top: 5.5vh;
    transform: rotateY(20deg) rotateZ(-5deg);
    border: 0.2vh solid black;
    /* opacity: 0.7; */
}

.left-pillar-depth {
    background-color: var(--pillar-color);
    width: 6vw;
    height: 23vh;
    position: absolute;
    left: -4vw;
    top: -5px;
    transform: rotateY(-70deg);
    border: 0.2vh solid black;
    /* opacity: 0.7; */
}

.left-wall {
    background-color: var(--wall-color);
    width: 22vw;
    height: 62vh;
    position: absolute;
    left: 17vw;
    top: -1vh;
    transform-origin: left;
    transform: rotateY(-10deg) rotateZ(-5deg);
    clip-path: polygon(
        100% 100%,
        0 100%,
        0 5.1%,
        65% 18%,
        90% 38%,
        100% 40%
    );
    z-index: 5;
    border: 0.1vh solid black;
    /* opacity: 0.7; */
    /* transition: all 0.5s linear; */
}

.window {
    background-color: var(--sky-color);
    transform: rotateY(-10deg) rotateZ(4deg);
    width: 5vw;
    height: 17vh;
    position: absolute;
    border: 0.1vh solid black;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    box-shadow:
        inset -1rem 0.1rem 1rem 0 var(--wall-color),
        inset -1rem -0.1rem 0.3rem 0.5rem black;
        z-index: 1;
    /* opacity: 0.7; */
    /* transition: all 0.5s linear; */
}

.window-left {
    bottom: 37%;
    left: 50%;
    border: 0.1vh solid black;
    /* opacity: 0.7; */
    /* transition: all 0.5s linear; */
}

.window-center {
    height: 25vh;
    left: 18%;
    bottom: 10%;
    border: 0.1vh solid black;
    /* opacity: 0.7; */
    /* transition: all 0.5s linear; */
}

.window-right {
    height: 25vh;
    left: 75%;
    bottom: 10%;
    border: 0.1vh solid black;
    /* opacity: 0.7; */
    /* transition: all 0.5s linear; */
}

.center-pillar {
    background-color: var(--pillar-color2);
    width: 6vw;
    height: 45vh;
    position: absolute;
    left: 39vw;
    top: 12vh;
    transform: rotateY(15deg) rotateZ(-3deg) scaleX(1.1);
    border: 0.2vh solid black;
    border-top-right-radius: 15%;
    border-top-left-radius: 10%;
    overflow: hidden;
    /* opacity: 0.7; */
    z-index: 4;
}

.brick-line-horizontal {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
    border: 0.2vh solid black;
    /* background-color: blue; */
}

.brick-line-horizontal:not(:nth-child(1)) {
    box-shadow: 0 -1vh 0.1vh rgba(0, 0, 0, 0.276);
}

.brick-line-vertical {
    width: 33%;
    height: 100%;
    border: 0.1vh solid black;
    box-shadow: 0 0 4vw black;
    /* background-color: blue; */
}

.left-most-wall > .brick-line-horizontal {
    height: 25%;
}

.left-wall > .brick-line-horizontal,
.left-most-wall > .brick-line-horizontal {
    transform: rotateY(-10deg) translateX(-0.1vw);
    z-index: 0;
}

.center-wall {
    background-color: var(--wall-color);
    width: 60vw; /* 34 to add tree */
    height: 33vh;
    position: fixed;
    left: 45vw;
    top: 23vh;
    clip-path: polygon(
        100% 100%,
        0% 100%,
        0% 0%,
        4% 10%,
        4% 40%,
        12% 40%,
        12% 23%,
        29% 35%,
        31.5% 60%,
        43% 75%,
        100% 82%
    );
    z-index: 3;
    border: 0.1vh solid black;
    /* opacity: 0.7; */
    /* transition: all 0.5s linear; */
}

.floor {
    background: radial-gradient(
        #caba70,
        #746342 45%,
        #746342 80%
    );
    position: fixed;
    top: 50vh;
    width: 100%;
    height: 50vh;
    z-index: -1;
}

.oscar {
    position: absolute;
    right: 18%;
    top: 45%;
    width: 30vh;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    z-index: 7;
}

.oscar:hover {
    animation: oscar-kneel 2s linear forwards;
}

@keyframes oscar-kneel {
    0% {
        transform: translateX(0%) translateY(0%);
    }
    50% {
        transform: translateX(-15%) translateY(2%);
    }
    100% {
        transform: translateX(-15%) translateY(10%);
    }
}

.oscar-head {
    background: rgb(203,203,203);
    background: radial-gradient(circle, rgba(203,203,203,1) 8%, rgba(171,171,171,1) 84%, rgba(0,0,0,1) 100%);
    border: 0.15vw solid black;
    border-radius: 40%;
    width: 3vw;
    height: 6.5vh;
}
.oscar:hover .oscar-head {
    animation: head-incline 2s linear forwards;
}

@keyframes head-incline {
    0% {
        transform: translateX(0%) translateY(0%) rotateZ(0deg);
    }
    100% {
        transform: translateX(-65%) translateY(10%) rotateZ(-15deg);
    }
}

.oscar-body-container {
    height: 42%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.oscar-body {
    background-color: #20345b;
    width: 40%;
    height: 100%;
    border-radius: 45%;
    border-start-start-radius: 30%;
    border-start-end-radius: 30%;
    z-index: 0;
}

.oscar:hover .oscar-body {
    animation: body-rotate 2s linear forwards;
}

@keyframes body-rotate {
    0% {
        transform: rotateZ(0deg) translateX(0%) translateY(0%);
    }
    100% {
        transform: rotateZ(-10deg) translateX(-15%) translateY(0%);
    }
}

.oscar-arm-1,
.oscar-arm-2 {
    background: rgb(203,203,203);
    background: radial-gradient(circle, rgba(203,203,203,1) 8%, rgba(171,171,171,1) 64%);
    width: 1.5vw;
    height: 50%;
    border: 0.1vw solid black;
    border-radius: 50%;
    transform-origin: 70% center;
}

.oscar-arm-1 {
    z-index: -1;
    transform: rotateZ(30deg);
}

.oscar-arm-2 {
    transform: rotateZ(-30deg);
}

.oscar:hover .oscar-arm-1 {
    animation: arm-rotate-1 2s linear forwards;
}

.oscar:hover .oscar-arm-2 {
    animation: arm-rotate-2 2s linear forwards;
}

@keyframes arm-rotate-1 {
    0% {
        transform: rotateZ(30deg) translateX(0%) translateY(0%);
    }
    100% {
        transform: rotateZ(60deg) translateX(-90%) translateY(40%);
    }
}

@keyframes arm-rotate-2 {
    0% {
        transform: rotateZ(-30deg) translateX(0%) translateY(0%);
    }
    100% {
        transform: rotateZ(0deg) translateX(-250%) translateY(20%);
    }
}

.leg-container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
    margin-top: -2vh;
}

.oscar-leg-1,
.oscar-leg-2 {
    background: rgb(203,203,203);
    background: radial-gradient(circle, rgba(203,203,203,1) 8%, rgba(171,171,171,1) 64%);
    width: 1.75vw;
    height: 50%;
    border: 0.1vw solid black;
    border-radius: 40%;
    transform-origin: top center;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.oscar-leg-1 {
    z-index: -1;
}

.oscar:hover .oscar-leg-1 {
    animation: leg-up 2s linear forwards;
}

.oscar-feet-1,
.oscar-feet-2 {
    background: rgb(203,203,203);
    background: radial-gradient(circle, rgba(203,203,203,1) 8%, rgba(171,171,171,1) 64%);
    width: 100%;
    height: 100%;
    border: 0.1vw solid black;
    border-radius: 50%;
    transform-origin: top center;
    transform: translateY(80%);
    z-index: -1;
}

.oscar:hover .oscar-feet-1 {
    animation: kneel-1 1s 1s linear forwards;
}

.oscar:hover .oscar-feet-2 {
    animation: kneel-1 1s 1s linear forwards;
}

@keyframes leg-up {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(90deg);
    }
}

@keyframes kneel-1 {
    0% {
        transform: rotateZ(0deg) translateY(80%) translateX(0%);
        transform-origin: 400% 0%;
    }
    100% {
        transform: rotateZ(-90deg) translateY(-5%) translateX(-380%);
    }
}

.bonfire-light {
    position: absolute;
    left: 34%;
    top: 78%;
    width: 33vw;
    height: 60vh;
    border-radius: 50%;
    background-color: #f0db7d;
    animation: slight-pulse 3s cubic-bezier(.47,2,.55,-1.41) alternate infinite;
    opacity: 0.3;
}

@keyframes slight-pulse {
    0% {
        transform: scale(0.6) rotateX(60deg);
        box-shadow: inset 0 0 0 0 #a08756;
    }
    100% {
        transform: scale(1) rotateX(60deg);
        box-shadow: inset 0 0 1vw 2vw #746342;
    }
}

.fire-pyramid {
    position: absolute;
    left: 38%;
    top: 75%;
    width: 24vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: depth 1.5s ease-out infinite alternate;
}

@keyframes depth {
    0% {
        z-index: 6;
    }
    100% {
        z-index: 8;
    }
}

.fire-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.fire,
.main-fire {
    background: rgb(219,64,43);
    background: linear-gradient(45deg, rgba(219,64,43,1) 60%, rgba(219,134,43,1) 91%, rgba(255,232,0,0.6783088235294117) 100%);
    width: 3vw;
    height: 6.5vh;
    margin-right: -1%;
    border-radius: 50%;
    border-start-end-radius: 0%;
    animation: wiggle 0.5s ease-out infinite alternate;
    opacity: 0.7;
}

.fire-row:not(:last-child) {
    margin-bottom: -26vh;
}

.fire-row:last-child {
    margin-bottom: -2%;
}

.fire-row:nth-child(2n) {
    margin-left: 4%;
    z-index: 0;
    animation: fire-opacity 1s ease-out infinite alternate;
}

.fire-row:nth-child(2n - 1) {
    margin-left: 4%;
    z-index: 0;
    animation: fire-opacity 2s ease-out infinite alternate;
}

@keyframes fire-opacity {
    0% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

.fire-base {
    position: absolute;
    left: 38%;
    top: 95%;
    width: 24vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 8;
}

.main-fire {
    margin-right: -5%;
    margin-left: -2%;
    width: 20%;
    height: 25%;
    background: rgb(219,64,43);
    background: linear-gradient(45deg, rgba(219,64,43,1) 60%, rgba(219,134,43,1) 91%, rgba(255,232,0,0.6783088235294117) 100%);
    z-index: 7;
    opacity: 1;
}

.main-fire:nth-child(2n) {
    animation: wiggle 1s ease-out infinite alternate-reverse;
}

.fire:nth-child(2n - 1) {
    animation: wiggle 0.5s ease-out infinite alternate-reverse;
}

@keyframes wiggle {
    0% {
        transform: rotate(-35deg);
    }
    100% {
        transform: rotate(-55deg);
    }
}

.sword {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 48%;
    top: 78%;
    width: 8vh;
    height: 32vh;
    transform: rotateZ(-15deg) rotateY(40deg);
    z-index:8;
}

.sword-handle-tip {
    height: 5%;
    width: 20%;
    background-color: gray;
    border-radius: 50%;
    margin: 0px;
    border: 0.25px solid black;
}

.sword-handle {
    height: 20%;
    width: 10%;
    background-color: maroon;
    margin-top: -1%;
    border: 1px solid black;
}

.sword-handle-shield {
    height: 3%;
    width: 50%;
    background-color: gray;
    border-radius: 25%;
    border: 1px solid black;
}

.sword-blade {
    height: 70%;
    width: 10%;
    background-color: gray;
    border-end-start-radius: 75%;
    border-start-end-radius: 50%;
    margin-top: -1%;
    border: 1px solid black;
}

.circle,
.inner-circle {
    position: absolute;
    left: 65%;
    top: 35%;
    transform: translate(-50%, -50%);
    width: var(--size);
    height: var(--size);
}

.inner-circle {
    background-color: black;
    border-radius: 50%;
    width: calc(var(--size) * (2/3));
    height: calc(var(--size) * (2/3));
}

.circle:before,
.circle:after {
    content: "";
    position: absolute;
    top: var(--s);
    left: var(--s);
    right: var(--s);
    bottom: var(--s);
    border-radius: 50%;
    border: var(--bor) solid black;
}
.circle:before {
    box-shadow: 0 0 var(--boxShadow) red;
    animation: move 4s linear infinite;
}

.circle:after {
    box-shadow: 0 0 calc(var(--bor)/2) red;
}

@keyframes move {
    0% {
      box-shadow: 0 0 var(--boxShadow) red;
      filter: hue-rotate(0deg);
    }
    20% {
      box-shadow: 0 0 60px red;
    }

    40% {
      box-shadow: 0 0 40px red;
    }
    60% {
      box-shadow: 0 0 80px red;
    }
    80% {
      box-shadow: 0 0 100px red;
    }
    100% {
      box-shadow: 0 0 var(--boxShadow) red;
      filter: hue-rotate(20deg);
    }
}
