:root {
    --wall-color: #333327;
    --pillar-color: #494742;
    --pillar-color2: #3d3c34;
    --sky-color: #a0d7ba;
    --size: 45vh;
    --s: calc(var(--size) / 6);
    --bor: calc(var(--size) / 40);
    --boxShadow: calc(var(--size) / 12);
}

body {
    background-image: url("firelink-shire-sketch.jpeg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-color: var(--sky-color);
    margin: 0px;
    padding: 0px;
    position: relative;
}

.left-most-wall {
    background-color: var(--wall-color);
    width: 13vw;
    height: 40vh;
    position: absolute;
    left: -10px;
    top: 25vh;
    transform: rotateY(20deg) rotateZ(-5deg);
    clip-path: polygon(
        100% 100%,
        0 100%,
        0 16%,
        22% 14%,
        20% 20%,
        100% 10%
    );
    border: 0.2vh solid black;
    /* transition: all 0.5s linear; */
    /* opacity: 0.7; */
    z-index: 6;
}

.pillar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.left-pillar {
    background-color: var(--pillar-color);
    width: 6vw;
    height: 58vh;
    position: relative;
    left: 11.4vw;
    top: 5.5vh;
    transform: rotateY(20deg) rotateZ(-5deg);
    border: 0.2vh solid black;
    /* opacity: 0.7; */
}

.left-pillar-depth {
    background-color: var(--pillar-color);
    width: 6vw;
    height: 23vh;
    position: absolute;
    left: -4vw;
    top: -5px;
    transform: rotateY(-70deg);
    border: 0.2vh solid black;
    /* opacity: 0.7; */
}

.left-wall {
    background-color: var(--wall-color);
    width: 22vw;
    height: 62vh;
    position: absolute;
    left: 17vw;
    top: -1vh;
    transform-origin: left;
    transform: rotateY(-10deg) rotateZ(-5deg);
    clip-path: polygon(
        100% 100%,
        0 100%,
        0 5.1%,
        65% 18%,
        90% 38%,
        100% 40%
    );
    z-index: 5;
    border: 0.1vh solid black;
    /* opacity: 0.7; */
    /* transition: all 0.5s linear; */
}

.window {
    background-color: var(--sky-color);
    transform: rotateY(-10deg) rotateZ(4deg);
    width: 5vw;
    height: 17vh;
    position: absolute;
    border: 0.1vh solid black;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    box-shadow:
        inset -1rem 0.1rem 1rem 0 var(--wall-color),
        inset -1rem -0.1rem 0.3rem 0.5rem black;
        z-index: 1;
    /* opacity: 0.7; */
    /* transition: all 0.5s linear; */
}

.window-left {
    bottom: 37%;
    left: 50%;
    border: 0.1vh solid black;
    /* opacity: 0.7; */
    /* transition: all 0.5s linear; */
}

.window-center {
    height: 25vh;
    left: 18%;
    bottom: 10%;
    border: 0.1vh solid black;
    /* opacity: 0.7; */
    /* transition: all 0.5s linear; */
}

.window-right {
    height: 25vh;
    left: 75%;
    bottom: 10%;
    border: 0.1vh solid black;
    /* opacity: 0.7; */
    /* transition: all 0.5s linear; */
}

.center-pillar {
    background-color: var(--pillar-color2);
    width: 6vw;
    height: 45vh;
    position: absolute;
    left: 39vw;
    top: 12vh;
    transform: rotateY(15deg) rotateZ(-3deg) scaleX(1.1);
    border: 0.2vh solid black;
    border-top-right-radius: 15%;
    border-top-left-radius: 10%;
    overflow: hidden;
    /* opacity: 0.7; */
    z-index: 4;
}

.brick-line-horizontal {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
    border: 0.2vh solid black;
    /* background-color: blue; */
}

.brick-line-horizontal:not(:nth-child(1)) {
    box-shadow: 0 -1vh 0.1vh rgba(0, 0, 0, 0.276);
}

.brick-line-vertical {
    width: 33%;
    height: 100%;
    border: 0.1vh solid black;
    box-shadow: 0 0 4vw black;
    /* background-color: blue; */
}

.left-most-wall > .brick-line-horizontal {
    height: 25%;
}

.left-wall > .brick-line-horizontal,
.left-most-wall > .brick-line-horizontal {
    transform: rotateY(-10deg) translateX(-0.1vw);
    z-index: 0;
}

.center-wall {
    background-color: var(--wall-color);
    width: 60vw; /* 34 to add tree */
    height: 33vh;
    position: fixed;
    left: 45vw;
    top: 23vh;
    clip-path: polygon(
        100% 100%,
        0% 100%,
        0% 0%,
        4% 10%,
        4% 40%,
        12% 40%,
        12% 23%,
        29% 35%,
        31.5% 60%,
        43% 75%,
        100% 82%
    );
    z-index: 3;
    border: 0.1vh solid black;
    /* opacity: 0.7; */
    /* transition: all 0.5s linear; */
}

.floor {
    background: radial-gradient(
        #eaa121,
        #b45d00 45%,
        #b86409 80%
    );
    position: fixed;
    top: 50vh;
    width: 100%;
    height: 50vh;
    z-index: -1;
    /* opacity: 0.5; */
}

.bonfire {
    position: absolute;
    left: 38%;
    top: 95%;
    width: 50vh;
    height: 40vh;
    border-radius: 50%;
    background-color: yellow;
    animation: slight-pulse 2s cubic-bezier(.47,2,.55,-1.41) infinite;
    opacity: 0.25;
    z-index: 6;
}

@keyframes slight-pulse {
    0% {
        transform: scale(0.8) rotateX(60deg);
    }
    50% {
        transform: scale(1) rotateX(60deg);
    }
    100% {
        transform: scale(0.8) rotateX(60deg);
    }
}

.circle,
.inner-circle {
    position: absolute;
    left: 65%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: var(--size);
    height: var(--size);
}

.inner-circle {
    background-color: black;
    filter:none;
    border-radius: 50%;
    width: calc(var(--size) * (2/3) - 1%);
    height: calc(var(--size) * (2/3) - 1%);
}

.circle:before,
.circle:after {
    content: "";
    position: absolute;
    top: var(--s);
    left: var(--s);
    right: var(--s);
    bottom: var(--s);
    border-radius: 50%;
    border: var(--bor) solid black;
}
.circle:before {
    box-shadow: 0 0 var(--boxShadow) red;
    animation: move 5s linear infinite;
}

.circle:after {
    box-shadow: 0 0 calc(var(--bor)/2) red;
}

@keyframes move {
    0% {
      box-shadow: 0 0 var(--boxShadow) red;
      filter: hue-rotate(0deg);
    }
    20% {
      box-shadow: 0 0 60px red;
    }

    40% {
      box-shadow: 0 0 40px red;
    }
    60% {
      box-shadow: 0 0 80px red;
    }
    80% {
      box-shadow: 0 0 100px red;
    }
    100% {
      box-shadow: 0 0 var(--boxShadow) red;
      filter: hue-rotate(20deg);
    }
}
